# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

scopeonline.log
scopeonline.properties
scopeonline.script

src/main/webapp/VAADIN/gwt-unitCache/
src/main/webapp/VAADIN/widgetsets/
